<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @staff.age %>
</p>

<p>
  <strong>Joined on:</strong>
  <%= @staff.joined_on %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
